/* Style taken from https://codepen.io/jgentes/pen/nrWOmJ */

/* Global elements */
body {
    padding: 1em;
    background: #d2d4dd;
    background-image: linear-gradient(90deg, transparent 30%, rgba(0, 0, 0, 0.02) 45%, rgba(0, 0, 0, 0.02) 55%, transparent 70%);
    background-size: 8px 8px;
    font: 100%/1.5 sans-serif;
    text-shadow: 0 1px 1px white;
}
h1, h2 {
    user-select: none;
}


/* Base divs */
#site-header h1 {
    text-align: center;
    font-size: 50px;
}
#site-header a:link, a:visited {
    color: black;
    text-decoration: none;
}

.dex-head {
    display: flex;
    justify-content: space-between;
    #title {
        margin-left: 7%;
    }
    #tier {
        margin-right: 7%;
    }
}

.dex-list {
    #dex-icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: -15px;
    }
    #dex-name {
        display: inline-block;
        vertical-align: -25%;
        min-width: 13%;
    }
    .dex-type {
        display: inline-block;
        vertical-align: -30%;
    }
    .dex-type:last-of-type {
        padding-right: 5%;
    }
    a {
        position:relative;
        display: block;
        padding: 1em;
        border: silver solid 1px;
        border-top-width: 0;
        background: white;
        font: bold 110% sans-serif;
        border-top-width: 0;
        width: 85%;
        text-align: left;
        user-select: none;
    }
    a:first-of-type {
        border-top-width: 1px;
        border-radius: 0.6em 0.6em 0 0;
    }
    a:last-of-type, p {
        border-radius: 0 0 0.6em 0.6em;
        box-shadow: 0 1px hsla(0, 0%, 100%, 0.8);
    }
    a:link, a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        #dex-name {
            color: #7b82a0;
        }
    }
}
