/* Style taken from https://codepen.io/jgentes/pen/nrWOmJ */

/* Global elements */
body {
    padding: 1em;
    background: #d2d4dd;
    background-image: linear-gradient(90deg, transparent 30%, rgba(0, 0, 0, 0.02) 45%, rgba(0, 0, 0, 0.02) 55%, transparent 70%);
    background-size: 8px 8px;
    font: 100%/1.5 sans-serif;
    text-shadow: 0 1px 1px white;
}
h1, h2 {
    user-select: none;
}


/* Base divs */
#site-header {
    margin-bottom: 1%;
}
#site-header h1 {
    text-align: center;
    font-size: 350%;
    margin-bottom: 0;
}
#site-header, a:link, a:visited {
    color: black;
    text-decoration: none;
}
#mon-name, #ability-header, #move-header, #tier-header, #index-header {
    text-align: center;
}
#header-buttons {
    text-align: center;
    font-size: 110%;
    h2 {
        display: inline-block;
    }
    a:hover {
        color: #666c85;
    }
}
.search {
    font-size: 110%;
    #search-bar {
        width: 50%;
        font-size: 110%;
    }
    #search-dropdown {
        display: none;
        width: 50%;
        max-height: 50%;
        overflow: scroll;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        user-select: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        text-align: left;
    }
    a {
        display: block;
        padding-left: 1%;
        text-decoration: none;
    }
    a:hover {
        background-color: #c8d0ec;
    }
}

.dex-head {
    display: flex;
    justify-content: space-between;
    #title {
        margin-left: 7%;
    }
    #tier {
        margin-right: 7%;
    }
}

.dex-list {
    #dex-icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: -15px;
        width: 40px;
        height: 30px;
    }
    #dex-name {
        display: inline-block;
        vertical-align: -25%;
        min-width: 13%;
        max-width: 13%;
    }
    .dex-type {
        #type-title {
            vertical-align: 15%;
        }
        display: inline-block;
        vertical-align: -30%;
        min-width: 10%;
        max-width: 10%;
    }
    #dex-abilities {
        display: inline-block;
        vertical-align: -25%;
        min-width: 35%;
        max-width: 35%;
    }
    .dex-bst {
        display: inline-block;
        vertical-align: -25%;
        text-align: center;
        min-width: 3%;
        max-width: 3%;
    }
    #dex-tier {
        float: right;
        vertical-align: middle;
    }
    h6 {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
    a {
        position:relative;
        display: block;
        padding: 1em;
        padding-top: 0.25em;
        border: silver solid 1px;
        border-top-width: 0;
        background: white;
        font: bold 100% sans-serif;
        width: 85%;
        text-align: left;
        user-select: none;
    }
    a:first-of-type {
        border-top-width: 1px;
        border-radius: 0.6em 0.6em 0 0;
    }
    a:last-of-type, p {
        border-radius: 0 0 0.6em 0.6em;
        box-shadow: 0 1px hsla(0, 0%, 100%, 0.8);
    }
    a:link, a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        #dex-name {
            color: #666c85;
        }
    }
}

.ability-list, .item-list, .tier-list {
    #ability-name, #item-name, #tier-name {
        display: inline-block;
        min-width: 13%;
        max-width: 13%;
    }
    #ability-desc, #item-desc, #tier-desc {
        display: inline-block;
    }
    a {
        position:relative;
        display: block;
        padding: 1em;
        border: silver solid 1px;
        border-top-width: 0;
        background: white;
        font: bold 100% sans-serif;
        width: 85%;
        text-align: left;
        user-select: none;
    }
    a:first-of-type {
        border-top-width: 1px;
        border-radius: 0.6em 0.6em 0 0;
    }
    a:last-of-type {
        border-radius: 0 0 0.6em 0.6em;
        box-shadow: 0 1px hsla(0, 0%, 100%, 0.8);
    }
    #ability-single, #item-single, #tier-single {
        border-radius: 0.6em 0.6em 0.6em 0.6em;
        box-shadow: 0 1px hsla(0, 0%, 100%, 0.8);
    }
    a:link, a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        #ability-name, #item-name, #tier-name {
            color: #666c85;
        }
    }
}

.move-list {
    #move-name {
        display: inline-block;
        vertical-align: middle;
        min-width: 13%;
        max-width: 13%;
    }
    .move-detail {
        display: inline-block;
        vertical-align: -25%;
        min-width: 5%;
        max-width: 5%;
    }
    #move-desc {
        display: inline-block;
        vertical-align: middle;
    }
    h6 {
        display: inline-block;
        margin: 0;
        vertical-align: -10%;
    }
    a {
        position:relative;
        display: block;
        padding: 1em;
        padding-top: 0.25em;
        border: silver solid 1px;
        border-top-width: 0;
        background: white;
        font: bold 100% sans-serif;
        width: 85%;
        text-align: left;
        user-select: none;
    }
    a:first-of-type {
        border-top-width: 1px;
        border-radius: 0.6em 0.6em 0 0;
    }
    a:last-of-type, p {
        border-radius: 0 0 0.6em 0.6em;
        box-shadow: 0 1px hsla(0, 0%, 100%, 0.8);
    }
    a:link, a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        #move-name {
            color: #666c85;
        }
    }
    #move-single {
        border-radius: 0.6em 0.6em 0.6em 0.6em;
        box-shadow: 0 1px hsla(0, 0%, 100%, 0.8);
    }
}
